@import "tailwindcss/base";
@import "tailwindcss/components";


/* Write your styles below this line. */
@import "~tiny-slider/dist/tiny-slider.css";

@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.ttf");
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 2fr;
}

section {
  grid-row-start: 3;
}

.poppins-bold {
  font-family: 'PoppinsBold', Helvetica, sans-serif;
}

// total transition duration will need to match tiny slider autoplayTimeout
.tns-item {
  transition-property: opacity;
  transition-delay: 4s;
  transition-duration: .5s;
  transition-timing-function: linear;
}

.tns-slide-active {
  opacity: 0,
}

.carousel .tns-item {
  @apply text-3xl #{!important};
}

@screen sm {
  .carousel .tns-item {
    @apply text-6xl #{!important};
  }

  .grid-layout {
    grid-template-columns: 1fr 4fr 1fr;
  }

  section {
    grid-column: 2 / span 2;
  }

  nav {
    grid-column-end: 3;
  }
}


/* Write your styles above this line. */
@import "tailwindcss/utilities";
