@import "tailwindcss/base";
@import "tailwindcss/components";


/* Write your styles below this line. */
@import "~tiny-slider/dist/tiny-slider.css";

@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.ttf");
}

.poppins-bold {
  font-family: 'PoppinsBold', Helvetica, sans-serif;
}

.carousel .tns-item {
  @apply text-5xl #{!important};
}

@screen sm {
  .carousel .tns-item {
    @apply text-6xl #{!important};
  }
}


/* Write your styles above this line. */
@import "tailwindcss/utilities";
