<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
</head>
<html>
  <body class="bg-indigo-100 text-gray-900">
    <nav class="w-full flex justify-between max-w-3xl mx-auto p-4">
      <div><a href="{% link index.html %}">Marcus Hoile</a></div>
      <div><a href="{% link about.html %}">About</a></div>
    </nav>

    {{ content }}

    {% if page.js_bundle %}
      <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ page.js_bundle }}.js" async></script>
    {% endif %}
  </body>
</html>

