<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/main.css">
</head>
<html>
  <body class="bg-indigo-100 text-gray-900 grid-layout h-full">
    <nav class="w-full flex justify-between p-4">
      <div><a href="{% link index.html %}">Marcus Hoile</a></div>
      <div><a href="{% link about.html %}">About</a></div>
    </nav>

    {{ content }}

    {% if page.js_bundle %}
      <script type="text/javascript" src="/assets/js/{{ page.js_bundle }}.js" async></script>
    {% endif %}
  </body>
</html>

